{% extends 'base.html.twig' %}

{% block title %}Liste des ingrédients{% endblock %}

{% block body %}
    <h1>Liste des ingrédients</h1>

    <table class="table">
        <thead>
            <tr>
                <!--<th>Id</th>-->
                <th>Nom de l'ingrédient</th>
                <th>Prix de l'ingrédient</th>
                <th>Végétarien</th>
                <th>Vegan</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <!--<td>{{ ingredient.id }}</td>-->
                <td>{{ ingredient.ingredientName }}</td>
                <td>{{ ingredient.ingredientPrice }} €</td>
                <td>{{ ingredient.vegetarian ? 'Oui' : 'Non' }}</td>
                <td>{{ ingredient.vegan ? 'Oui' : 'Non' }}</td>
                <td class="flex">
                    <div>
                        <a class="btn btn-primary btn-block" href="{{ path('ingredient_show', {'id': ingredient.id}) }}">Voir</a>
                    </div>
                    <div>
                        <a class="btn btn-success btn-block" href="{{ path('ingredient_edit', {'id': ingredient.id}) }}">Modifier</a>
                    </div>
                        {{ include('ingredient/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="mt-3 btn btn-primary btn-block" href="{{ path('ingredient_new') }}">Créer un nouvel ingrédient</a>
{% endblock %}
