{% extends 'base.html.twig' %}

{% block title %}Liste des pizzas{% endblock %}

{% block body %}
    <h1>Liste des pizzas</h1>

    <table class="table">
        <thead>
            <tr>
                <!--<th>Id</th>-->
                <th>Nom de la Pizza</th>
                <th>Action</th>
                <th>Taille</th>
                <th>Base</th>
                <th>Prix</th>
                <th>Végétarien/Végan</th>
            </tr>
        </thead>
        <tbody>
        {% for pizza in pizzas %}
            <tr>
                <!--<td>{{ pizza.id }}</td>-->
                <td>{{ pizza.pizzaName }}</td>
                <td class="flex">
                    <div>
                    <a class="btn btn-primary btn-block" href="{{ path('pizza_show', {'id': pizza.id}) }}">Voir</a>
                    </div>
                    <div>
                    <a class="btn btn-success btn-block" href="{{ path('pizza_edit', {'id': pizza.id}) }}">Modifier</a>
                    </div>
                    {{ include('pizza/_delete_form.html.twig') }}
                </td>
                <td>{{ pizza.pizzaSize.sizeName }}</td>
                <td>{{ pizza.pizzaBase.baseName }}</td>
                <td>{{ pizza.pizzaPrice }} €</td>
                <td>{{ pizza.VegiOrVegan }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="mt-3 btn btn-primary btn-block" href="{{ path('pizza_new') }}">Créer une nouvelle pizza</a>
{% endblock %}
